.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.card {
  width: calc(40% - 20px);
  min-height: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffe066;
}

@media screen and (max-width: 768px) {
  /*  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    align-items: center;
  } */

  .card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
  }
}

.sunny {
  background-color: #ffe066;
  color: #fff;
}

.rainy {
  background-color: #7fdff5;
  color: #fff;
}

.cloudy {
  background-color: #e2e2e2;
  color: #000;
}

.stormy {
  background-color: #b2b2ff;
  color: #fff;
}

.card-icon {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.card-title {
  font-size: 44px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.card-temperature {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 105px;
  font-weight: 900;
  text-shadow: 1px 4px rgba(0, 0, 0, 0.5);
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.search-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  flex-grow: 1;
  margin-right: 10px;
}

.search-button {
  padding: 10px 15px;
  background-color: #855b5b;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #6b4949;
}
.loading-dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.loading-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  animation: loading-animation 1s infinite;
  margin: 0 3px;
}

@keyframes loading-animation {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
