<div class="card-container" style="background-color: #855b5b">
  <div class="search-container">
    <input
      type="text"
      placeholder="Buscar..."
      [(ngModel)]="searchText"
      class="search-input"
    />
    <button class="search-button" (click)="buscar()">Buscar</button>
  </div>

  <div class="card" *ngFor="let card of weatherCards">
    <div class="loading-dots-container" *ngIf="loading">
      <span class="loading-dot"></span>
      <span class="loading-dot"></span>
      <span class="loading-dot"></span>
    </div>
    <div *ngIf="!loading && resultadoEncontrado">
      <h2 class="card-title">{{ card.title }}-{{ card.pais }}</h2>
      <span
        style="
          font-family: 'Poppins', sans-serif;
          color: #fff;
          font-size: 25px;
          text-transform: capitalize;
          text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
        "
        >{{ seteo(card.last_updated) }}</span
      >
      <!--     <img class="card-icon" [src]="card.icon" alt="Weather Icon" />
 -->
      <h1 class="card-temperature">{{ card.temperature }}°C</h1>

      <!--  <p class="card-temperature">Temperatura: {{ card.temperature }}°C</p> -->
    </div>

    <div *ngIf="!resultadoEncontrado" class="error-message">
      No se encontró ningún resultado.
      <img src="../assets/sds.jpg" width="300px" height="300px" />
    </div>
  </div>
</div>
